#container {
    display: flex;
    min-width: 200px;
    width: 100%;
}
#text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 2em;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px) 0px 0px var(--input-border-radius, 6px);
    font-size: 1em;
}
:host(:invalid) #text {
    background-color: var(--input-invalid-back-color, #ffebeb);
    border-color: var(--input-invalid-border-color, #ff4444);
}
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: 0px;
    margin: 0px;
    margin-left: calc(-1 * var(--input-border-width, 2px));
    appearance: none;
    color: var(--input-button-text-color, #000000);
    background-color: var(--input-button-back-color, #cccccc);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: 0px var(--input-border-radius, 6px) var(--input-border-radius, 6px) 0px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
#button:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #353935);
}
#button:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
    z-index: 1;
}
:host(:invalid) #button {
    border-color: var(--input-invalid-border-color, #ff4444);
}
:host(:invalid) #button:focus {
    box-shadow: 0 0 2px 3px var(--input-invalid-focus-color, #ff2500);
}
#button:disabled {
    color: var(--input-disabled-text-color, #757575);
    background-color: var(--input-disabled-back-color, #999999);
    border-color: var(--input-disabled-border-color, #6a6a6a);
    cursor: default;
}
#button > .button-text {
    font-size: 1.5em;
}
#options-container {
    display: none;
}
