<emc-captionpanel id="structure-panel" caption="structure">
    <gt-edt-world-editor-structure-tree id="structure-editor-tree"></gt-edt-world-editor-structure-tree>
</emc-captionpanel>
<emc-captionpanel id="detail-panel" caption="detail">
    <gt-edt-world-form-world-config id="form-world-config"></gt-edt-world-form-world-config>
    <gt-edt-world-form-locations id="form-locations"></gt-edt-world-form-locations>
    <gt-edt-world-form-locations-entry id="form-locations-entry"></gt-edt-world-form-locations-entry>
    <gt-edt-world-form-collections id="form-collections"></gt-edt-world-form-collections>
    <gt-edt-world-form-collections-entry id="form-collections-entry"></gt-edt-world-form-collections-entry>
    <gt-edt-world-form-areas id="form-areas"></gt-edt-world-form-areas>
    <gt-edt-world-form-areas-entry id="form-areas-entry"></gt-edt-world-form-areas-entry>
    <gt-edt-world-form-exits id="form-exits"></gt-edt-world-form-exits>
    <gt-edt-world-form-exits-entry id="form-exits-entry"></gt-edt-world-form-exits-entry>
</emc-captionpanel>