<div class="header">
    <emc-input-search id="search" nohover></emc-input-search>
</div>
<emc-datagrid id="grid" stretched="key">
    <emc-datagrid-column name="delete" label="" type="button" width="50" text="" icon="✖" tooltip="Delete" action="delete"></emc-datagrid-column>
    <emc-datagrid-column name="key" label="Key" type="string" width="200"></emc-datagrid-column>
    <emc-datagrid-column name="icon" label="Icon" type="image" width="400" editable action="icon"></emc-datagrid-column>
    <emc-datagrid-column name="counting" label="Counting" type="boolean" width="100" editable action="counting"></emc-datagrid-column>
</emc-datagrid>
<emc-form-row class="footer" align="end">
    <emc-button id="add" text="Add entry" icon="+"></emc-button>
</emc-form-row>
