<div class="state">
    <span id="locations-done">#</span> done | <span id="locations-available">#</span> avail | <span id="locations-missing">#</span> miss | <span id="exits-available">#</span> exits
</div>
