:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#title {
    margin: 10px 0;
    font-size: 2em;
    line-height: 1em;
}
#title:empty {
    display: none;
}
.controls label {
    display: inline-flex;
    padding: 5px;
    background-color: var(--edit-back-color, #ffffff);
    color: var(--edit-text-color, #000000);
    border-style: solid;
    border-width: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-color: var(--edit-text-color, #ffffff);
}
.controls span {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.controls input {
    font-size: 1em;
    width: 70px;
    text-align: right;
}
#text {
    flex: 1;
    padding: 5px;
    resize: none;
    overflow: scroll;
    background-color: var(--edit-back-color, #ffffff);
    color: var(--edit-text-color, #000000);
    border-style: solid;
    border-width: 2px;
    border-color: var(--edit-text-color, #ffffff);
    word-wrap: unset;
    white-space: pre;
    user-select: text;
    cursor: auto;
    outline: none;
}
