<emc-select-relation id="input"></emc-select-relation>
<label id="add-continuous-label">
    <input id="add-continuous-button" type="checkbox"> Continue adding more entities
</label>
<emc-button id="cancel" text="cancel" tooltip="cancel" text-transform="uppercase"></emc-button>
<emc-button id="submit" text="add entity" tooltip="add entity" primary text-transform="uppercase"></emc-button>