:host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}
:host(:hover) {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}