:host {
    --scale: 100;
    --size: 48px;
    --rotation: 45deg;
    --border-radius: 25%;
    position: absolute;
    display: inline-flex;
    width: var(--size, 0px);
    height: var(--size, 0px);
    transform: translate(calc(var(--size, 0px) * -0.5), calc(var(--size, 0px) * -0.5)) rotate(var(--rotation, 0deg)) scale(calc(var(--scale, 100) / 100));
    user-select: none;
    pointer-events: all;
}
:host(:hover) {
    z-index: 1000;
}
#marker {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: var(--world-connection-text-color,  #000000);
    background-color: var(--world-connection-background-color, #ffffff);
    border: solid 4px black;
    font-weight: bold;
    border-radius: var(--border-radius, 0px);
    font-size: calc(var(--size, 0px) * 0.7);
    line-height: 1em;
}
#label {
    transform: rotate(-45deg);
}