:host {
    display: flex;
    flex-direction: row-reverse;
    width: 100dvw;
    height: 100%;
    margin: 0px;
    background-color: var(--page-back-color, #000000);
    color: var(--page-text-color, #ffffff);
    user-select: none;
}
#body {
    display: flex;
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
}
::slotted(*) {
    display: none;
}
::slotted(.panel) {
    flex-direction: column;
    flex: 1;
    min-width: 100%;
    min-height: 100%;
    width: 100dvw;
    height: 100%;
    margin: 0px;
    background-color: var(--page-back-color, #000000);
    color: var(--page-text-color, #ffffff);
    user-select: none;
}
::slotted(.panel.active) {
    display: flex;
}
#categories {
    display: flex;
    flex-direction: column;
    padding: 2px;
    background-color: var(--navigation-back-color, #ffffff);
    overflow-x: hidden;
    overflow-y: auto;
}
#categories emc-option {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    border-radius: 20%;
    border: solid 2px var(--navigation-text-color, #000000);
    padding: 4px;
    margin: 2px;
    filter: drop-shadow(black 1px 1px 1px);
}
#categories emc-option emc-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#categories emc-option.active {
    box-shadow: var(--navigation-marker-color, #ffffff) 0px 0px 2px 2px, var(--navigation-marker-color, #ffffff) 0px 0px 3px 2px inset;
    cursor: default;
}
#categories emc-option:not(.active) {
    opacity: 0.7;
}
@media (orientation: portrait) {
    :host {
        flex-direction: column;
    }
    #categories {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
