:host {
    --scale: 100;
    --size: 0px;
    --rotation: 0deg;
    --border-radius: 0px;
    position: absolute;
    display: inline-flex;
    width: var(--size, 0px);
    height: var(--size, 0px);
    transform: translate(calc(var(--size, 0px) * -0.5), calc(var(--size, 0px) * -0.5)) rotate(var(--rotation, 0deg)) scale(calc(var(--scale, 100) / 100));
    user-select: none;
}
#marker {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: #ffffff;
    border: solid 4px black;
    border-radius: var(--border-radius, 0px);
    font-size: calc(var(--size, 0px) * 0.7);
    line-height: 1em;
}
#label {
    transform: rotate(calc(var(--rotation, 0deg) * -1));
}
:host(.active) #marker {
    background-color: #67ffea;
    box-shadow: 0 0 2px 4px #67ffea;
}