<div class="header">
    <emc-input-search id="search" nohover></emc-input-search>
</div>
<emc-datagrid id="grid" stretched="category">
    <emc-datagrid-column name="category" label="Category" type="string" width="300"></emc-datagrid-column>
    <emc-datagrid-column name="name" label="Setting" type="string" width="200"></emc-datagrid-column>
    <emc-datagrid-column name="value" label="Value" type="boolorlogic" width="300" action="value" editable></emc-datagrid-column>
</emc-datagrid>
<emc-form-row class="footer" align="end">
</emc-form-row>
