<gt-edt-input-position-map id="input"></gt-edt-input-position-map>
<emc-button id="cancel" text="cancel" tooltip="cancel" text-transform="uppercase"></emc-button>
<emc-button id="submit" text="submit" tooltip="submit" primary text-transform="uppercase"></emc-button>