<div class="container">
    <div class="text">
        <emc-i18n-label id="title"></emc-i18n-label>
        <div class="subtext">
            <emc-i18n-label id="type"></emc-i18n-label>
            <emc-i18n-label id="category"></emc-i18n-label>
        </div>
    </div>
    <div id="tags"></div>
</div>