:host {
    display: flex;
    width: 100%;
    user-select: none;
    padding: 3px;
    border-bottom: solid 1px var(--list-border-bottom-color, #000000);
    border-top: solid 1px var(--list-border-top-color, #000000);
    font-size: 16px;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
.text #title {
    justify-content: flex-start;
}
.text .subtext {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    font-size: 0.7em;
    font-style: italic;
    height: 1.2em;
    white-space: nowrap;
}
.text .subtext #category {
    margin-left: 8px;
    padding-left: 8px;
    border-left: solid 1px var(--page-text-color, #000000);
}
.text .subtext #category:not([i18n-value]),
.text .subtext #category[i18n-value=""] {
    display: none;
}

#tags {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 2px;
    margin-left: 5px;
    border: 1px solid var(--navigation-back-color, #ffffff);
    border-radius: 2px;
    font-size: 16px;
    user-select: none;
}
#tags:empty {
    display: none;
}
#tags emc-labeledicon {
    width: 24px;
    height: 24px;
    margin: 1px;
}
