:host {
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: hidden;
}

#scroll-container {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--page-back-color, #ffffff);
}

#container {
    display: block;
    width: 100%;
}

#empty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    min-height: 2rem;
    padding: 5px;
    margin: 5px 2px;
    white-space: normal;
}

::slotted(:hover),
::slotted(.marked) {
    background-color: var(--main-hover-color, #ffffff32);
}
