<div class="header">
    <slot name="selected"></slot>
    <emc-searchinput id="search"></emc-searchinput>
    <div id="tags"></div>
</div>
<div id="scroll-container">
    <slot id="container">
        <div id="empty">no entries</div>
    </slot>
</div>