#icon {
    width: 100%;
    height: 100%;
    background-image: var(--default-unknown-back-image);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    filter:
        contrast(var(--shallow-item-contrast, 0.8)) saturate(var(--shallow-item-saturate, 0.5)) brightness(var(--shallow-item-brightness, 0.4));
}

#icon.alwaysActive,
:host([value]:not([value="0"])) #icon {
    filter:
        contrast(var(--solid-item-contrast, 1)) saturate(var(--solid-item-saturate, 1)) brightness(var(--solid-item-brightness, 1));
}

:host(:hover) #icon {
    background-size: 100%;
}

#value {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2px;
    color: #ffffff;
    font-size: 0.8em;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 0;
    white-space: normal;
    line-height: 0.9em;
    font-weight: bold;
    word-break: normal;
}

#value.alwaysActive,
:host([value]:not([value="0"])) #value {
    display: inline-flex;
}

#value.mark {
    color: #54ff54;
}
