:host {
    display: inline-flex;
    width: calc(var(--item-size, 40) * 1px);
    height: calc(var(--item-size, 40) * 1px);
    cursor: pointer;
    user-select: none;
}

#icon {
    display: block;
    width: 100%;
    height: 100%;
    background-image: var(--default-unknown-back-image);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
}

:host(:hover) #icon {
    background-size: 100%;
}

#value {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2px;
    color: #ffffff;
    font-size: 0.8em;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 0;
    white-space: normal;
    line-height: 0.9em;
    font-weight: bold;
    word-break: normal;
    white-space: pre;
}

:host([halign="start"]) #value {
    justify-content: flex-start;
}

:host([halign="end"]) #value {
    justify-content: flex-end;
}

:host([valign="start"]) #value {
    align-items: flex-start;
}

:host([valign="end"]) #value {
    align-items: flex-end;
}

#value.mark {
    color: #54ff54;
}
