#value {
    flex-direction: column;
}

#current {
    padding: 2px;
    color: #ffff99;
    font-size: 1em;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 0;
    line-height: 0.9em;
    font-weight: bold;
    word-break: normal;
    white-space: pre;
}

#value.mark #current {
    color: #54ff54;
}

#max {
    padding: 2px;
    color: #96ffff;
    font-size: 1em;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 0;
    line-height: 0.9em;
    font-weight: bold;
    word-break: normal;
    white-space: pre;
}

:host([hidemax]:not([hidemax="false"])) #max {
    display: none;
}
