<div class="wrapper">
    <div class="map-wrapper">
        <slot id="map" class="none">
        </slot>
        <div id="no-map">
            no active/valid map configuration
        </div>
    </div>
</div>
<div class="position-input-wrapper">
    <label class="position-label">
        X
        <input type="number" id="pos-x" name="x" class="input position-input" min="0" max="0" step="1">
    </label>
    <label class="position-label">
        Y
        <input type="number" id="pos-y" name="y" class="input position-input" min="0" max="0" step="1">
    </label>
    <label class="position-label">
        Scale
        <emc-input-range id="pos-scale" name="scale" class="input" min="25" max="200" value="100" scatched></emc-input-range>
    </label>
    <button id="remove">remove</button>
</div>