:host {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow: hidden;
}
.wrapper {
    position: relative;
    height: 100%;
    overflow: scroll;
    user-select: none;
    background-color: var(--input-back-color, #ffffff);
    background-image:
        linear-gradient(45deg, var(--image-checker-back-color) 25%, transparent 25%),
        linear-gradient(-45deg, var(--image-checker-back-color) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--image-checker-back-color) 75%),
        linear-gradient(-45deg, transparent 75%, var(--image-checker-back-color) 75%);
    background-size:10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
}
.map-wrapper {
    position: relative;
    min-width: 100%;
    width: max-content;
    padding: 50px;
}
#map {
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    flex-shrink: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-origin: content-box;
}
#no-map {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    max-height: 100%;
    flex-shrink: 0;
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-origin: content-box;
    font-weight: bold;
}
#map.none {
    display: none;
}
#map.none + #no-map {
    display: flex;
}
::slotted(*) {
    position: absolute;
    pointer-events: none;
}
::slotted(.active) {
    z-index: 1000;
}
.position-input-wrapper {
    display: flex;
    justify-content: center;
}
.position-label {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.input {
    margin-left: 5px;
}
.position-input {
    height: 2em;
    width: 100px;
    padding: 0px 7px;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    font-size: 1em;
    text-align: end;
    appearance: none;
    -moz-appearance: textfield;
}
.position-input:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}
.position-input::-webkit-outer-spin-button,
.position-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.scale-input {
    margin-left: 5px;
}
#remove {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: 2em;
    padding: 0px 10px;
    margin: 5px;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #eaeaea);
    border-style: solid;
    border-width: var(--button-border-width, 2px);
    border-color: var(--button-border-color, #222222);
    border-radius: var(--button-border-radius, 6px);
    user-select: none;
    overflow: hidden;
    font-size: 1rem;
    cursor: pointer;
}
#remove:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #353935);
    border-color: var(--button-border-color, #222222);
}
#remove:focus {
    box-shadow: 0 0 2px 3px var(--input-focus-color, #06b5ff);
    outline: none;
}
