<div class="header">
    <emc-input-search id="search" nohover></emc-input-search>
</div>
<emc-datagrid id="grid" stretched="name">
    <emc-datagrid-column name="name" label="Label" type="string" width="200"></emc-datagrid-column>
    <emc-datagrid-column name="posA" label="Position A" type="coordinates" width="300" editable action="posA" postfix="_posA"></emc-datagrid-column>
    <emc-datagrid-column name="posB" label="Position B" type="coordinates" width="300" editable action="posB" postfix="_posB"></emc-datagrid-column>
    <emc-datagrid-column name="delete" label="" type="button" width="100" text="Delete" action="delete"></emc-datagrid-column>
</emc-datagrid>
<emc-form-row class="footer" align="end">
    <emc-button id="add" text="Add entry" icon="+"></emc-button>
</emc-form-row>
