<div id="title">
    <emc-i18n-label id="text"></emc-i18n-label>
    <gt-hintbutton class="button" id="hint">
    </gt-hintbutton>
    <gt-filtermenubutton class="button">
    </gt-filtermenubutton>
</div>
<div id="body">
    <gt-worldlist-button id="back" class="button" text="(to overworld)"></gt-worldlist-button>
    <div id="list">
        <slot></slot>
    </div>
</div>
