:host {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
#title {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1em;
    border-bottom: solid 1px var(--page-text-color, #000000);
    user-select: none;
}
#text {
    display: block;
    flex: 1;
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
:host([access="opened"]) #text {
    color: var(--world-entry-status-opened-color, #777777);
}
:host([access="available"]) #text {
    color: var(--world-entry-status-available-color, #00ff00);
}
:host([access="unavailable"]) #text {
    color: var(--world-entry-status-unavailable-color, #ff0000);
}
:host([access="possible"]) #text {
    color: var(--world-entry-status-possible-color, #ffff00);
}
#title > .button {
    width: 38px;
    height: 38px;
    padding: 4px;
    margin-left: 8px;
    border: solid 2px var(--navigation-back-color, #ffffff);
    border-radius: 10px;
}
#body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
#list {
    display: content;
}
#hint {
    margin-left: 5px;
}
#body .button.hidden,
:host(:not([ref])) #back {
    display: none;
}
.button,
::slotted(*) {
    border-bottom: solid 1px var(--list-border-bottom-color, #000000);
    border-top: solid 1px var(--list-border-top-color, #000000);
}
