<emc-form-container id="form-container" hasheader hasfooter>
    <form id="header-form">
        <h1>Exit [<emc-i18n-label id="header-name"></emc-i18n-label>]</h1>
    </form>
    <form id="detail-form"></form>
    <form id="footer-form">
        <emc-form-row align="end">
            <emc-button-reset></emc-button-reset>
            <emc-button-submit></emc-button-submit>
        </emc-form-row>
    </form>
</emc-form-container>