<div class="header">
    <emc-input-search id="search" nohover></emc-input-search>
</div>
<emc-datagrid id="grid" nohead stretched="entity">
    <emc-datagrid-column name="entity" label="Entity name" type="relation"></emc-datagrid-column>
    <emc-datagrid-column name="edit" label="" type="button" width="100" text="Edit" action="edit"></emc-datagrid-column>
</emc-datagrid>
<emc-form-row class="footer" align="center">
    <emc-dataview-pagination id="pagination" sizes="10,15,20,25,50,100" size="15" show-size show-total></emc-dataview-pagination>
</emc-form-row>
