<gt-worldmap-view id="view"></gt-worldmap-view>
<emc-i18n-tooltip i18n-tooltip="reset zoom & position">
    <div id="reset-transform-button"><span class="rotate-icon">↺</span></div>
</emc-i18n-tooltip>
<div class="overview-wrapper">
    <gt-worldmap-overview id="overview"></gt-worldmap-overview>
    <emc-slider min="10" max="200" value="50" id="zoom-slider"></emc-slider>
    <div id="overview-icon">🧭</div>
</div>
<gt-worldmap-title id="title">
    <gt-hintbutton class="button" id="hint">
    </gt-hintbutton>
    <gt-filtermenubutton class="button">
    </gt-filtermenubutton>
</gt-worldmap-title>

<gt-worldmap-metaarea-button id="meta-area-button"></gt-worldmap-metaarea-button>
<gt-worldmap-metaarea-view id="meta-area-view"></gt-worldmap-metaarea-view>
