:host {
    display: grid;
    width: 400px;
    height: 400px;
    user-select: none;
}

.overview-wrapper,
#reset-transform-button {
    position: absolute;
    box-sizing: content-box;
    background-color: var(--page-back-color, #ffffff);
    border-style: solid;
    border-width: 2px;
    border-color: var(--page-border-color-inverted, #ffffff);
    transform-origin: bottom left;
    width: 40px;
    height: 40px;
    transition: width .2s, height .2s;
    overflow: hidden;
}

.overview-wrapper {
    bottom: 10px;
    left: 10px;
}

#reset-transform-button {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 60px;
    left: 10px;
    font-size: 30px;
    line-height: 1em;
    cursor: pointer;
}

#reset-transform-button.hidden {
    display: none;
}

.overview-wrapper:hover {
    width: 200px;
    height: 230px;
}

.overview-wrapper #zoom-slider {
    width: 200px;
    height: 30px;
    padding: 5px;
}

.overview-wrapper #overview-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    font-size: 30px;
    line-height: 1em;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0s, font-size 0s, width 0s, height 0s;
}

.overview-wrapper:hover #overview-icon {
    font-size: 100px;
    opacity: 0;
    width: 0%;
    height: 0%;
    transition: opacity .2s .2s, font-size .2s .2s, width 0s .4s, height 0s .4s;
}

#title {
    position: absolute;
    top: 10px;
    left: 10px;
}

#title > .button {
    width: 38px;
    height: 38px;
    padding: 4px;
    margin-left: 8px;
    border: solid 2px var(--navigation-back-color, #ffffff);
    border-radius: 10px;
}

.rotate-icon {
    rotate: 270deg;
    transform-origin: center;
}

#meta-area-button {
    position: absolute;
    top: 80px;
    left: 10px;
}
